.svg-loader {
  pointer-events: none;
  height: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 1s;
  opacity: 0;
  //animation: infinite-spinning-3d 8s infinite linear;
}

.show-svg {
  opacity: 1;
}

//@keyframes infinite-spinning {
//  0% {
//    transform: rotateZ(0deg);
//  }
//  100% {
//    transform: rotateZ(360deg);
//  }
//}
//
//@keyframes infinite-spinning-3d {
//  0% {
//    transform: translate(-50%, -50%) rotateZ(0deg);
//  }
//  100% {
//    transform: translate(-50%, -50%) rotateZ(360deg);
//  }
//}