@import '../../styles/const';

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  border-bottom: 1px solid grey;
}
.menu {
  display: flex;
  align-items: center;

  .tab{
    color: grey;
    padding: 0 20px
  }
}
.auth{
  display: flex;

  .auth-button{
    padding: 10px;
  }

  .sign-in{
    color: $blue-color;
  }
  .sign-up{
    background: $blue-color;
    color: white;
    border-radius: 20px;
  }
}

