.registration{
  display: flex;
  justify-content: center;
  flex-direction: column;
  .wellcome-block{
    text-align: center;

    .title{
      display: flex;
      font-size: 28px;
      justify-content: center;
      align-items: center;
    }
    .secondary{
      display: block;
      font-size: 16px;
    }
    .registration-state{
      display: flex;
      justify-content: center;
      .line{
        position: absolute;
      }
    }

  }
}